/* Button Styles */
.button {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  background: var(--gradient-accent);
  background-size: 200% 200%;
  background-position: left center; /* 初期は左寄せ */
  padding: 10px 20px;
  border-radius: var(--border-radius-m);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-position 0.8s ease, transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-s);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--gradient-sheen);
    animation: lightSweep 2s linear infinite;
    z-index: 1;
  }
  
  &:focus {
    outline: none;
  }

  &:hover {
    background-position: right center; /* ホバーで右へ滑らかにずらす */
  }

  &:active {
    transform: translate(4px, 4px); /* クリック時に右下に移動して影に重なる */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3); /* 影を消す */
  }
}

/* Button Animations */
@keyframes lightSweep {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
