footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, var(--color-main), var(--color-sub1));

  p {
    font-family: var(--font-primary);
    font-size: var(--font-size-footer);
    color: var(--color-white);
  }
}