:root {
  /* フォント */
  --font-primary: 'Noto Sans JP', 'Hind', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* フォントサイズ */
  --font-size: 16px;
  --font-size-h1: 8rem;
  --font-size-h2: 6rem;
  --font-size-h3-1: 1.5rem;
  --font-size-h3-2: 3rem;
  --font-size-h3-3: 2.25rem;
  --font-size-p1: 1.5rem;
  --font-size-p2: 1.25rem;
  --font-size-p3: 1rem;
  /* カラー */
  --color-main: oklch(0.7927 0.171 70.67);
  --color-sub: oklch(0.7334 0.185189 53.4055);
  --color-accent: oklch(0.6922 0.1857 15.94);
  --color-accent-light: oklch(0.7579 0.1386 13.14);
  --color-accent-dark: oklch(0.6455 0.2234 20.15);
  --color-base: oklch(0.9761 0.0141 74.43);
  --color-neutral-1: oklch(0.1591 0 0);
  --color-neutral-2: oklch(0.5103 0 0);
  --color-neutral-3: oklch(0.683 0 0);
  --color-neutral-4: oklch(0.9249 0 0);
  --color-neutral-5: oklch(0.9612 0 0);
  --color-neutral-6: #ffffff;
  /* グラデーション */
  --gradient-1: linear-gradient(45deg, var(--color-main), var(--color-sub));
  /* パディング */
  --padding-top: 28px;
  --padding-right: 28px;
  --padding-bottom: 28px;
  --padding-left: 28px;
  --padding-all: var(--padding-top), var(--padding-right), var(--padding-bottom), var(--padding-left);
  /* マージン */
  --margin-top: 16px;
  --margin-left: 120px;
  --margin-top-button: 24px;
  --margin-bottom-button: 48px;
  --margin-left-button: 16px;
  /* シャドウ */
  --shadow-black-s:
  inset 0 1px 2px oklch(1 0 0 / 18.82%),/* top highlight */
  0 1px 2px oklch(0 0 0 / 18.82%),/* dark shadow */
  0 2px 4px oklch(0 0 0 / 8.24%);/* soft shadow */
  --shadow-black-m:
  inset 0 1px 2px oklch(1 0 0 / 31.37%),/* top highlight */
  0 2px 4px oklch(0 0 0 / 18.82%),/* dark shadow */
  0 4px 8px oklch(0 0 0 / 8.24%);/* soft shadow */
  --shadow-black-l:
  inset 0 1px 2px oklch(1 0 0 / 43.92%),/* top highlight */
  0 4px 6px oklch(0 0 0 / 18.82%),/* dark shadow */
  0 6px 10px oklch(0 0 0 / 8.24%);/* soft shadow */
  --shadow-button: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  /* ボーダー半径 */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
}

html, body {
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  font-size: var(--font-size);
}

* {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-size-h1);
  letter-spacing: -2px;
}

h2 {
  font-size: var(--font-size-h2);
  margin-left: var(--margin-left);
}

h3 {
  font-size: var(--font-size-h3);
}

.p1 {
  font-size: var(--font-size-p1);
}

.p2 {
  font-size: var(--font-size-p2);
}

.p3 {
  font-size: var(--font-size-p3);
}

.button-container-beginer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}